html, body {
  margin: auto;
  padding: 0;
}
body{max-height:100vh}
canvas {
  display: block;
  margin:auto;
}


select, .text-box {
    transition-property: background-color opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border: 1px white solid;
    border-radius: 5px;
    color: white;
    float: left;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin:auto;
}

select {
  height: 45px;
  width: 150px;
}

select {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAJJJREFUOE/dkz0KwlAQhL8hjWcIOVEgrY29eAEbLyDkAik8gNYW4oVyiIAwIZCAhvcw5HXZcn8+mNldkRhKnGdrANstkP/xpZVUTD0/HtgugSeQRSAfoJL0DgKGpO0T0EQAR0m371pwC7Zr4DyDXCVd5uAYYMg/gP04cAcOkrwIMErZAS9g0t2FZG3tkNY8VrIHPSopIRH6MrMFAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 125px center;
}

  select:hover {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-appearance: none;
    -moz-appearance: none;
}
select:hover {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAJJJREFUOE/dkz0KwlAQhL8hjWcIOVEgrY29eAEbLyDkAik8gNYW4oVyiIAwIZCAhvcw5HXZcn8+mNldkRhKnGdrANstkP/xpZVUTD0/HtgugSeQRSAfoJL0DgKGpO0T0EQAR0m371pwC7Zr4DyDXCVd5uAYYMg/gP04cAcOkrwIMErZAS9g0t2FZG3tkNY8VrIHPSopIRH6MrMFAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 125px center;
}
  .text-box:hover {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-appearance: none;
    -moz-appearance: none;
}



#gradient {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #025981dc;
    background-size: 100% 100%;
    overflow:hidden;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#sketch-holder {
  margin: 0 auto;
  position: relative;
  width: 500px;
}

#modal {
  width: 500px;
  height: 750px;
  margin-top: 20px;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  overflow:visible;
}

#modal2 {
  width: 375px;
  height: 670px;
  margin-top: 20px;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  top:-10px;
  z-index: 1;
  overflow:visible;
  background-color: #006797fb;
  background-size: 100% 100%;
  color:white;
  text-shadow:2px 2px black;
  padding:20px;
  border-radius: 20px;
  border: 2px solid white;
}

#modal3 {
  width: 375px;
  height: 670px;
  margin-top: 20px;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  top:-10px;
  z-index: 1;
  overflow:visible;
  background-color: #006797fb;
  background-size: 100% 100%;
  color:white;
  text-shadow:2px 2px black;
  padding:20px;
  border-radius: 20px;
  border: 2px solid white;
}

#modal2 p {
  font-size:2em;
}

#pushBtn {
  height:25px!important;
  display:table-cell!important;
  vertical-align: center;
  text-align: center;
  cursor: pointer;
  color: white;
  font-family: sans-serif;
}

#appInfoBtn {
  height:45px!important;
  width: 200px!important;
  border-radius:5px!important;
  display:table-cell!important;
  vertical-align: center;
  cursor: pointer;
}

#resourceBtn {
  height:45px!important;
  width: 200px!important;
  border-radius:5px!important;
  display:table-cell!important;
  vertical-align: center;
  cursor: pointer;
}

#calculateScoreBtn {
  height:45px!important;
}

.close-btn {
cursor: pointer;
position: absolute;
color:black;
font-size:40px;
top: 20px;
left: 0px;
padding: 12px 16px;
transform: translate(0%, -50%);
z-index:1;
}

.close-btn2, .close-btn3 {
cursor: pointer;
position: absolute;
color:white;
font-size:40px;
top: 30px;
left: 10px;
padding: 12px 16px;
transform: translate(0%, -50%);
z-index:1;
}

audio { width: 400px; margin:10px; }

#sexSel {
  width: 120px;
  background-position: 95px center;
}

#ageSel {
  width:100px;
  background-position: 70px center;
}

@media (max-width: 420px) {
  #sketch-holder {
    transform: scale(.9);
    transform-origin: top left;
  }
}

@media (max-width: 376px) {
  #sketch-holder {
    transform: scale(.8);
    transform-origin: top left;
  }
}

@media (max-width: 333px) {
  #sketch-holder {
    transform: scale(.75);
    transform-origin: top left;
  }
}

input[type=range] {
  background-color: white;
  -webkit-appearance:none;
  border-radius:20px;
}

.run{
  transform: rotate(180deg);
}

.run::-webkit-slider-thumb {
    transform: rotate(180deg);
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 45px;
    border: 0;
    background: url('running.png');
    background-color:white;
    z-index: 5;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    overflow:visible;
    cursor: pointer;
}

.run::-moz-range-thumb {
  transform: rotate(180deg);
  width: 40px;
  height: 40px;
  border: 0;
  background: url('running.png');
  background-color:white;
  z-index: 5;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid black;
  border-radius: 50%;
  background-size: 30px 30px;
  overflow:visible;
  cursor: pointer;
}



.walk::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border: 0;
  background: url('running.png');
  background-color:white;
  z-index: 5;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid black;
  border-radius: 50%;
  background-size: 30px 30px;
  overflow:visible;
  cursor: pointer;
}

.walk::-moz-range-thumb {
width: 40px;
height: 40px;
border: 0;
background: url('running.png');
background-color:white;
z-index: 5;
background-position: center;
background-repeat: no-repeat;
border: 4px solid black;
border-radius: 50%;
background-size: 30px 30px;
overflow:visible;
cursor: pointer;
}



.shuttle::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 45px;
    border: 0;
    background: url('running.png');
    background-color:white;
    z-index: 5;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid black;
    border-radius: 50%;
    background-size: 30px 30px;
    overflow:visible;
    cursor: pointer;
}

.shuttle::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border: 0;
  background: url('running.png');
  background-color:white;
  z-index: 5;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid black;
  border-radius: 50%;
  background-size: 30px 30px;
  overflow:visible;
  cursor: pointer;
}

.pushups::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border: 0;
  background: url('pushups.png');
  background-color:white;
  z-index: 5;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid black;
  border-radius: 50%;
  background-size: 30px 30px;
  overflow:visible;
  cursor: pointer;
}

.pushups::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border: 0;
  background: url('pushups.png');
  background-color:white;
  z-index: 5;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid black;
  border-radius: 50%;
  background-size: 30px 30px;
  overflow:visible;
  cursor: pointer;
}

.situps::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border: 0;
  background: url('situps.png');
  background-color:white;
  z-index: 5;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid black;
  border-radius: 50%;
  background-size: 30px 30px;
  overflow:visible;
  cursor: pointer;
}

.situps::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  background: url('situps.png');
  background-color:white;
  z-index: 5;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid black;
  border-radius: 50%;
  background-size: 30px 30px;
  overflow:visible;
  cursor: pointer;
}

.greenbackground::-webkit-slider-thumb{
  background-color: #28c600!important;
}

.greenbackground::-moz-range-thumb {
  background-color: #28c600!important;
}

a {
  color: rgb(242, 255, 0)!important;
}

.altitude-select {
  width: 210px;
  text-align:left;
  background-position: 185px center;
}
.altitude-select:hover {
  background-position: 185px center;
}

.nav_list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav_link {
  color: inherit;
  font-weight: 900;
  font-size: 2.25rem;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

.banner {
  width:400px;
  height:auto;
  background-color: #eaeaea;
  color: #000000;
  border-radius:10px;
  position:fixed;
  bottom:30px;
  left: calc(50% - 200px);
  padding: 1rem;
  box-shadow: 0 5px #dadada;
  z-index:100;
  animation: fade-in 2s forwards,
             slide-up 2s forwards;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(0,0,0,.5);
}


.arrow{
  width:50px;
  height:50px;
  background-color: #eaeaea;
  transform: rotate(45deg);
  position:absolute;
  bottom: -25px;
  left: calc(50% - 25px);
  z-index:-1;
}



.content{
  display:inline-block;
  width: 300px;
  vertical-align:middle;
}

.text-icon {
  width:14px;
  vertical-align:bottom;
  margin-left:2px;
  margin-right:2px;
}

.close-btn4 {
cursor: pointer;
position: absolute;
color:blue;
font-size:15px;
top: 48px;
right: 70px;
padding: 12px 16px;
transform: translate(0%, -50%);
z-index:1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
